<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <h1>Welcome to Sign Up Page</h1>
    {{msg}}
    <form action="/signup" method="post">
    Username : <input type="text" name="username" placeholder="Enter The Username">
    Password : <input type="password" name="password" placeholder="Enter The Password">
    <button type="submit">Submit</button>
    </form>
    <h1>Login vai Google</h1>
    <a href="/auth/google">Login via Google</a>
</body>
</html>