<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/product-list.css">
</head>
<body>
    {{>navbar}}
    <h1>Welcome to Product Page </h1>
    <div class="category">
        {{>shop_category products=products }}
    </div>
    
    
</body>
</html>